{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	New title
{% endblock %}

{% block body %}
	<div>
		Browse through
		{{ numberOfStarships }}
		starships.

		{% if numberOfStarships > 400 %}
			<p>That's a lot of starships!</p>
		{% endif %}
	</div>

	<table>
		<tr>
			<th>Property</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>Name</td>
			<td>{{ myShip.name }}</td>
		</tr>
		<tr>
			<td>Class</td>
			<td>{{ myShip.class() }}</td>
		</tr>
		<tr>
			<td>Captain</td>
			<td>{{ myShip.captain() }}</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>{{ myShip.status() }}</td>
		</tr>
	</table>

{% endblock %}
